{% extends 'main.html' %}

{% block content %}
<form method="POST" action="">
    <h2>Если вы уже покупали у нас, расскажите нам, что вы думаете о нас</h2>

    <p> <textarea name="content"></textarea></p>
    <p><input type='submit' value="Поделиться"></p>
    {% if 'email' not in session %}
    <p>Если вы зарегистрированы, <a href="/login">войдите в систему</a>, чтобы оставить отзыв под своим именем.</p>
    {% endif %}
    <h2>Отзывы других наших покупателей</h2>
    <ul>
        {% for n in commentdata%}
        <li><h3 class="authors">{{n[0]}}</h3><p>{{n[1]}}</p></li>
        {% endfor %}
    </ul>
</form>
<!--
<a class="flamp-widget" href="//novosibirsk.flamp.ru/firm/panificio_picceriya-70000001023215335"  data-flamp-widget-type="responsive-new" data-flamp-widget-id="70000001023215335" data-flamp-widget-width="100%" data-flamp-widget-count="10">Отзывы о нас на Флампе</a><script>!function(d,s){var js,fjs=d.getElementsByTagName(s)[0];js=d.createElement(s);js.async=1;js.src="//widget.flamp.ru/loader.js";fjs.parentNode.insertBefore(js,fjs);}(document,"script");</script>{% endblock %}-->
