{% extends 'main.html' %}

{% block content %}
<h1>Как сделать заказ</h1>
<h2>К сожалению, в нашей пиццерии отсутствует доставка, однако можно сделать заранее заказ и забрать самостоятельно из ресторана. Для этого мы можем предложить два варианта:</h2>
<h3>1) По телефону</h3>
<p>Позвоните нам заранее по телефону пиццерии, и мы приготовим её к указанному времени.</p>
<p><b>Внимание!</b> Время изготовления одной пиццы - 15 минут. Оно может увеличиться от загруженности ресторана. </p>
<h3>2) На сайте</h3>
<p>Выберите на сайте пиццу с помощью кнопки "заказать", оформите ваш выбор в корзине и заберите её в ресторане.</p>
{% endblock %}