<header class="item2">
    <h1>Добро пожаловать на наш сайт! Мы - пиццерия Panificio. Готовим самую вкусную и тонкую пиццу с 2015 года.</h1>
    <h2>Здесь вы можете познакомиться с пиццами, а также заказать те, которые вам захотелось попробовать.</h2>
</header>

<section class="item3">
    <hr>
    <h1>Хиты продаж</h1>
    <article class="card">
            <img src=../images/pepperoni.jpg alt="Пепперони" style="width:100%">
            <h2>Пепперони</h2>
            <p class="price">440 руб.</p>
    </article>

    <article class="card">
            <img src=../images/meatysweety.jpg alt="Сливочно-мясная" style="width:100%">
            <h2>Сливочно-мясная</h2>
            <p class="price">540 руб.</p>
    </article>

    <article class="card">
            <img src="../images/hammushroom.jpg" alt="Ветчина и грибы" style="width:100%">
            <h2>Ветчина и грибы</h2>
            <p class="price">450 руб.</p>
    </article>

    <article class="menu">
        <a href="./menu" style="text-decoration:none;">Посмотреть<br>всё меню</a>
    </article>
</section>