<div class="plates"></div><div class="plates">
    <div class="card">
            <img src="../images/<%= food.pic %>" width=250px alt=<%= food.pic %>>
        </a>
            <h2><%= food.name %></h2>
            <p class="price"> <%= food.price %> руб.</p>
    </div>
</div>