<nav class="item1">
    <!--Заголовок-->
    <a href="./" class="logo"><img src="../logo2.png" width="100px"></a>
    <div class="header-right" style="float:right;">
        <a href="./menu">Меню</a>
        <a href="./discount">Акции</a>
        <a href="./order">Заказать</a>
        <a href="./comments">Отзывы</a>
        <a href="./contacts">Контакты</a>
    </div>
</nav>